body {
  background-color: #E7E7FF;
}
div.header {
  font-family: "Verdana";
  font-size: 200%;
  text-decoration: bold;
  color: #CC99FF;
  width: 300px;
  padding: 15px;
  padding-top: 10px;
  border: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 80px;
  background-color: #fff;
  opacity: 1;
}
div.nav {
  font-family: "Verdana";
  width: 300px;
  padding: 15px;
  padding-top: 10px;
  border: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 10px;
  background-color: #fff;
  opacity: 1;
}
a {
  text-decoration: none;
  color: #CC99FF;
}
a hover {
  text-decoration: none;
  color: #fff;
}
a visited {
  text-decoration: none;
  color: #CC99FF;
}
img {
  height: 200px;
}
div.mainbox {
  font-family: "Verdana";
  width: 300px;
  padding: 15px;
  padding-top: 20px;
  border: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: auto;
  background-color: #fff;
  opacity: 1;
}
me {
  color: #CC99FF;
}
div.footer {
  font-family: "Verdana";
  font-size: 10px;
  text-align: center;
}
